<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/']">
      <strong>Angular Clients {{isConnected}}</strong>
      <button (click)="connect()">Connect</button>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" *ngIf="isConnected" [routerLink]="['clients']">
        Clients
      </a>
      <a  [routerLink]="['factures']"  *ngIf="isConnected" class="navbar-item">
        Factures
      </a>
    </div>

    <div class="navbar-end" >
      <div class="navbar-item" *ngIf="isConnected">
        <div class="field is-grouped">
          <p class="control">
            <button class="button is-danger" (click)="logout()">Déconnexion !</button>
          </p>
        </div>
      </div>
      <div class="navbar-item" *ngIf="!isConnected">
        <div class="field is-grouped">
          <p class="control">
            <a  [routerLink]="['login']" class="button is-primary">Connexion</a>
          </p>
          <p class="control">
            <a href="#" class="button">Inscription</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</nav>
