<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Connexion
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <form (ngSubmit)="onSignin(f)" #f="ngForm" *ngIf="!success" class="form">

          <div class="field">
            <label class="label" for="email">Email:</label>
            <div class="control"><input type="email" class="input" name="email" ngModel></div>
          </div>

          <div class="field">
            <label class="label" for="password">Password:</label>
            <div class="control"><input type="password" class="input" name="password" ngModel></div>
          </div>

          <div class="field" *ngIf="errorMessage">
            <div class="notification is-danger">{{errorMessage}}</div>
          </div>

          <button class="button is-primary">Connexion</button> <a class="button is-text" [routerLink]="['../','signup']">Inscription</a>

        </form>
      </div>
    </div>
  </div>
</section>
