
<div *ngIf="!client">
  <h2 class="subtitle">Sélectionnez un client dans la liste</h2>
</div>
<div *ngIf="client">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="{{client.avatar}}" alt="{{client.prenom}} {{client.nom}}">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{client.prenom}} {{client.nom}}</p>
          <p class="subtitle is-6">{{client.ville}}</p>
        </div>
      </div>

      
        <p *ngIf="client.notes.length === 0">Aucune note pour le client pour l'instant</p>
        <nav class="panel" *ngIf="client.notes">
          <a href="#" class="panel-block" *ngFor="let note of client.notes">
            <span class="tag">{{note.date | date: 'dd/MM/yyyy'}}</span> {{note.contenu}}
          </a>
        </nav>

        <table class="table is-fullwidth is-hoverable is-striped">
          <thead>
            <tr>
              <th>Numéro</th>
              <th>Date</th>
              <th>Montant</th>
              <th>Statut</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let facture of factures">
              <td><a [routerLink]="['facture', facture.numero]">{{facture.numero}}</a></td>
              <td>{{facture.date | date: 'dd/MM/yyyy'}}</td>
              <td>{{facture.montant | currency:'EUR':'symbol'}}</td>
              <td><span class="tag {{lang.factures.classes[facture.statut]}}">{{lang.factures.labels[facture.statut]}}</span></td>
            </tr>
          </tbody>
        </table>
      
    </div>
    <footer class="card-footer">
      <a [routerLink]="['edit']" class="card-footer-item">Editer</a>
      <a href="#" class="card-footer-item">Créer une factures</a>
    </footer>
  </div>
</div>
